* {
    font-family: 'Roboto';
}

body {
    background-color: rgba(2, 2, 2, 0.767);
}


/* Estilo do navbar*/

.nav-link,
.navbar-brand {
    color: white !important;
}

.size-custom {
    height: 400px;
}

/* Estilo do Card*/
.top-card{
    margin-top: 3%;
}

.img-custom{
    width: 230px;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.card-custom{
    background-color: black;
    color: white;
    border: 1px solid blue;
}

/* Estilo do footer*/

.footer {
    align-items: center !important;
    align-self: center !important;
    text-align-last: center !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000000 !important;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
}