* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: rgba(2, 2, 2, 0.767);
    overflow-x: hidden;
}


/* Estilo do navbar*/

.nav-link,
.navbar-brand {
    color: white !important;
}

.nav-link:hover{
    color: red !important;
}
/* ESTILO DO TOPO*/
.size-custom {
    height: 400px;
}

.img-custom-top{
    background: linear-gradient(-40deg, blue, red) no-repeat;
    background-size: 300% 300%;
    height: 100vh;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: img-custom-top 5s ease-in-out infinite;
}

@keyframes img-custom-top {

    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 50% 0;
    }
    
}
/* Estilo do Card*/
.top-card{
    margin-top: 3%;
}

.img-custom-card{
    width: auto;
    height: 200px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-custom{
    height: 300px;
    background-color: black;
    color: white;
    border: 1px solid blue;
}


/* ESTILO DO SHOW*/

.box-show{
    border: 2px solid black;
    height: auto;
    display: grid;
    background-color: white;
    padding-left: 5%;
}


.custom-video{
    background-color: black;
    width: 800px;
    height: 500px;
    border: 4px solid black;
    position: relative;
}
/* Estilo do footer*/

.footer {
    align-items: center !important;
    align-self: center !important;
    text-align-last: center !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000000 !important;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
}